body{
    margin: 0;
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(15px);
    padding: 2% 3%;
}

a, p, h1, h2, input, h3, button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-weight: 700;
}

.glass{
    background-color: rgb(255, 255, 255, 0.192);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    border: 2px solid rgba(211, 211, 211, 0.4);
    padding: 1.7%;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header > .left{
    width: 10%;
}
.search{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.466);
    backdrop-filter: blur(8px);
    border-radius: 100px;
    padding: 5 20px;
    color: white;
    border: 1.7px solid rgba(211, 211, 211);
}
.search > p{
    font-weight: 300;
    color: rgba(255, 255, 255, 0.719);
}
header > .right{
    width: 77%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.glass > header > .right > nav > a{
    color: #f7f7f77c;
    transition: all 0.3s ease;
    margin-left: 7vh;
}
.glass > header > .right > nav > a:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.281);
    padding: 5 13px;
    border-radius: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.281);
}

.notifi > i{
    color: rgba(255, 255, 255, 0.719);
    transition: all 0.3s ease;
}
.notifi > i:hover{
    color: rgba(255, 0, 0, 0.705);
    background-color: rgba(0, 0, 0, 0.281);
    padding: 10 10px;
    border-radius: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.281);
}